OCI_REGION=sa-saopaulo-1
OCI_USER_ID=ocid1.user.oc1..aaaaaaaal3agjesmvyzhxza64ngrmydazeubyqmt6l3kks2cvyaf3lb2mlsa
OCI_TENANCY_ID=ocid1.tenancy.oc1..aaaaaaaakgk3o2yjf7fyvkeuahsgcegpy2q5kacm2oqheds15xu7oezpcq
OCI_COMPARTMENT_ID=ocid1.tenancy.oc1..aaaaaaaakgk3o2yjf7fyvkeuahsgcegpy2q5kacm2oqheds15xu7oezpcq
OCI_SUBNET_ID=ocid1.subnet.oc1.sa-saopaulo-1.aaaaaaaaznlgeixdyu6shvcjwfcaaxalcp3etrc7zroe3mqmdpccpte2r74a
OCI_IMAGE_ID=
OCI_SHAPE=VM.Standard.A1.Flex
OCI_OCPUS=1
OCI_MEMORY_IN_GBS=6
OCI_MAX_INSTANCES=1
OCI_SSH_PUBLIC_KEY="COLE_SUA_CHAVE_SSH_PUBLICA_AQUI"
OCI_AVAILABILITY_DOMAIN=
CACHE_AVAILABILITY_DOMAINS=1
TOO_MANY_REQUESTS_TIME_WAIT=600
